<!DOCTYPE html>
<html>
<title>Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {{!-- <img src='/public/images/ProfPic.jpg' style="width:100%" alt="ProfPic"> --}}
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Julia Dannerth</h2>
      
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Miami, FL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>jdannerth@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(412)-849-4714</p>
          <hr>
      </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Talent Experience Coordinator/ CreativeDrive</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2019 - August 2020<span class="w3-tag w3-teal w3-round"></span></h6>
          <p>• Attended career fairs and networking events to help fill openings and build candidate pipeline <br>
          • Scheduled and conducted exit interviews and over 50 employee orientations to familiarize staff with company policies
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Human Resource Representative / Comcast</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2019 - Nov 2019</h6>
          <p>• Researched and resolved employee payroll questions and issues via email, and phone <br>
          • Managed electronic timekeeping systems and payroll for over 200 employees
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Benefits Coordinator / SMG Corporate</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2018 - July 2019</h6>
          <p>• Communicated via email, phone and face-to-face medical, dental, short-term and long-term benefit plans with new hires and eligible employees with status changes <br>
          • Administered enrollment of over 100 new employees and company-wide yearly enrollment period
          </p>
           <hr>
        </div>
         <div class="w3-container">
          <h5 class="w3-opacity"><b>Human Resources Intern / Brooks Instrument</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2018 - Oct 2018</h6>
          <p>• Created, catalogued and maintained 0ver 300 employee personnel files to keep sensitive data secure <br>
          • Facilitated with recruitment by posting job openings, screening resumes and scheduling interviews <br>
          •	Designed and distributed internal employee communications via web and print
          </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>IronHack</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2022 - Dec 2022</h6>
          <p>Certificate in Web Development </p>
          <p>• Implemented languages such as JavaScript, HTML, & CSS <br>
          • Collaborated in teams to help design and build functional web applications <br>
          • Modified and updated websites to improve functionality and user experiences <br>
          • Tested work to check functionality, identify bugs and corrected issues <br>
          • Built user-friendly website content and designs using HTML and CSS
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Indiana University of Pennsylvania</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2017 - May 2018</h6>
          <p>M.A in Employment and Labor Relations</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Pennsylvania State University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2010 - Dec 2014</h6>
          <p>B.S in Hospitality Management</p><br>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Let's Connect!</p>
  <i class="fa fa-github w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <hr>
  {{!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p> --}}
</footer>

</body>
</html>